@-webkit-keyframes mainImgNavOpacity {
  0%   { opacity: 0; }
  100% { opacity: 0.25; }
}
@keyframes mainImgNavOpacity {
  0%   { opacity: 0; }
  100% { opacity: 0.25; }
}

@-webkit-keyframes thumbNailOpacity {
  0%   { opacity: 0.45; }
  100% { opacity: 1; }
}
@keyframes thumbNailOpacity {
  0%   { opacity: 0.45; }
  100% { opacity: 1; }
}

html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
}

.container {
  width: 436px;
  height: 379px;
  margin-right: 17px;
  margin-left: 17px;
  padding-top: 15px;
  display: block;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.mainImgFrame {
  width: 436px;
  height: 331px;
}

.mainImg {
  width: 436px;
  height: 327px;
  background-color: #F1F1F1;
  position: relative;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.mainImg table {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.mainImg table td {
  vertical-align: middle;
  text-align: center;
}

.bottomNavFrame {
  height: 48px;
  width: 436px;
}

.mainNavPrev {
  z-index: 2;
  height: 200px;
  width: 70px;
  top: 18%;
  background-color: #1C1C1C;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  -webkit-user-select: none;
  -webkit-box-shadow: 7px 0px 8px -2px #696969;
}

.mainNavPrev:active {
  -webkit-box-shadow: 3px 0px 5px 0px #696969;
  background-color: black;
}

.mainNavNext {
  z-index: 3;
  height: 200px;
  width: 70px;
  top: 18%;
  left: 360px;
  background-color: #1C1C1C;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border-style: solid;
  -webkit-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
  -webkit-user-select: none;
  -webkit-box-shadow: -7px 0px 8px -2px #696969;
}

.mainNavNext:active {
  -webkit-box-shadow: -3px 0px 5px -2px #696969;
  background-color: black;
}

.mainImg:hover .mainNavPrev, .mainImg:hover .mainNavNext {
  -webkit-animation: mainImgNavOpacity 0.5s; /* Safari 4+ */
  animation:         mainImgNavOpacity 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode:         forwards;
}

.btnLeft {
  height: 45px;
  width: 21px;
  float: left;
  display: block;
  cursor: pointer;
  margin-top: 1px;
  background-color: #F1F1F1;
  border: 1px solid #E8E8E8;
  -webkit-user-select: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.btnRight {
  height: 45px;
  width: 21px;
  float: right;
  display: block;
  cursor: pointer;
  margin-top: 1px;
  background-color: #F1F1F1;
  border: 1px solid #E8E8E8;
  -webkit-user-select: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.btnLeft:hover, .btnLeft:focus, .btnRight:hover, .btnRight:focus {
  border-color: #D1D1D1;
  background: -webkit-linear-gradient(top, #F1F1F1, #E0E0E0);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0 0 3px #fff;
}

.btnLeft:active, .btnRight:active {
  border: 1px solid #444;
  border-bottom-color: #CCC;
  border-top-color: #D1D1D1;
  -webkit-box-shadow: inset 0 1px 2px #aaa;
  background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
}

.btnLeftArrow {
  margin-left: 7px;
}

.btnRightArrow {
  margin-left: 7px;
}

.btnLeftArrow, .btnRightArrow {
  margin-top: 15px;
}

.thumbnailOuterWrap {
  height: 49px;
  width: 384px;
  float: left;
  padding-left: 3px;
  overflow: hidden;
  display: block;
}

.thumbnailInnerWrap {
  width: 9999px;
}

.thumbImg {
  height: 45px;
  width: 60px;
  margin-top: 2px;
  float: left;
  background-color: #F1F1F1;
  position: relative;
  margin-right: 5px;
  opacity: 0.45;
}

.thumbImg:hover {
  cursor: pointer;
  -webkit-animation: thumbNailOpacity 0.5s; /* Safari 4+ */
  animation:         thumbNailOpacity 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode:         forwards;
}

.thumbImg table {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.thumbImg table td {
  vertical-align: middle;
  text-align: center;
}

.thumbImg.selected {
  background-color: #F27F1B;
  opacity: 1;
}