@-webkit-keyframes mainImgNavOpacity {
  0%   { opacity: 0; }
  100% { opacity: 0.35; }
}
@keyframes mainImgNavOpacity {
  0%   { opacity: 0; }
  100% { opacity: 0.35; }
}

html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
}

.container {
  width: 436px;
  height: 379px;
  margin-right: 17px;
  margin-left: 17px;
  padding-top: 15px;
  display: block;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.mainImgFrame {
  width: 436px;
  height: 331px;
}

.mainImg {
  width: 436px;
  height: 327px;
  background-color: #F1F1F1;
  position: relative;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.mainImg table {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.mainImg table td {
  vertical-align: middle;
  text-align: center;
}

.bottomNavFrame {
  height: 48px;
  width: 436px;
  /*background-color: magenta;*/
}

.mainNavPrev {
  z-index: 2;
  height: 200px;
  width: 70px;
  top: 18%;
  background-color: black;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
}

.mainNavNext {
  z-index: 3;
  height: 200px;
  width: 70px;
  top: 18%;
  left: 366px;
  background-color: black;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-user-select: none;
}

.mainImg:hover .mainNavPrev, .mainImg:hover .mainNavNext {
  -webkit-animation: mainImgNavOpacity 0.5s; /* Safari 4+ */
  animation:         mainImgNavOpacity 0.5s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode:         forwards;
}

.btnLeft {
  height: 45px;
  width: 21px;
  float: left;
  display: block;
  cursor: pointer;
  margin-top: 1px;
  background-color: #F1F1F1;
  border: 1px solid #E8E8E8;
  -webkit-user-select: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.btnRight {
  height: 45px;
  width: 21px;
  float: right;
  display: block;
  cursor: pointer;
  margin-top: 1px;
  background-color: #F1F1F1;
  border: 1px solid #E8E8E8;
  -webkit-user-select: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.thumbnailOuterWrap {
  height: 49px;
  width: 384px;
  float: left;
  padding-left: 3px;
  overflow: hidden;
  display: block;
  /*background-color: red;*/
}

.thumbnailInnerWrap {
  width: 9999px;
  /*background-color: white;*/
}

.thumbImg {
  height: 45px;
  width: 60px;
  margin-top: 2px;
  float: left;
  background-color: #F1F1F1;
  position: relative;
  margin-right: 5px;
}

.thumbImg:hover {
  cursor: pointer;
}

.thumbImg table {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.thumbImg table td {
  vertical-align: middle;
  text-align: center;
}

.thumbImg.selected {
  background-color: #F27F1B;
}